<!DOCTYPE html>
<html lang="en">
    <link rel='stylesheet' href="/static/styles.css">
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Welcome to MELD</h1>
        <a href="/gds" ><button class="gds_button">Upload a GDS file</button></a>
        <a href="/meshGenerator" ><button class="mesh_button"> Create your own Mesh</button></a>
        
    </body>
</html>